{% extends 'base.html' %}
{% block content %}
<div class="main-content" id="panel">
    <div class="header bg-primary pb-6">
    </div>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Публикации</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-hover">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Название</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pub in object.publications.all %}
                            <tr data-toggle="collapse" id="row1" data-target=".row1">
                                <td>
                                    <strong>{{ pub.name }}</strong>
                                </td>
                                <td>
                                    <button class="btn btn-sm"><i class="ni ni-bullet-list-67"></i></button>
                                </td>
                            </tr>
                            {% for table in pub.tables.all %}
                            <tr class="collapse row1">
                                <td>{{table.name}}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Подписки</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Название</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sub in object.subscriptions.all %}
                            <tr>
                                <td>
                                    <strong>{{ sub.name }}</strong>
                                </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Слоты репликации</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Название</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for slot in object.replication_slots.all %}
                            <tr>
                                <td>
                                    <strong>{{ slot.name }}</strong>
                                </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}