{% load static %}
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static '/assets/img/brand/blue.png' %}" class="navbar-brand-img" alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'database_separator:check' %}">
                            <i class="ni ni-scissors text-default"></i>
                            <span class="nav-link-text">Разделить</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'database_separator:initialize' %}">
                            <i class="ni ni-sound-wave"></i>
                            <span class="nav-link-text">Инициализация</span>
                        </a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">-->
<!--                            <i class="fas fa-sync"></i>-->
<!--                            <span class="nav-link-text">Перезапустить репликацию</span>-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Main content -->

